<div>
	<h1>من نحن</h1>
	<h3>
		
		نحن نعلم جيداً أن المجتمعات العربية هي مجتمعات مستهلكه أكثر منها منتجة، بالرغم من أن العقول العربية أثبتت على مر التاريخ أنها تملك عقولاً مبدعةً و منتجةَ و مصنعةً وقادرةَ على تغيير التاريخ بكل مجالات الحياة المختلفة، من هنا بدأت فكرة تأسيس موقع أكسجين عربي.
<br/>
<br/>
		موقع أكسجين عربي هو موقع عربي يهدف للبحث عن أدق وأصدق المعلومات والأخبار، في جميع المجالات من جميع المصادر وتقديمها في موقع إلكتروني واحد. وأنطلاقا بإيماننا بأنه حان الوقت لتغيير الواقع العربي المرير، فلقد قرر مبرمجون عرب تصميم هذا الموقع ولكن بإسلوب مغاير تماماً للإسلوب التقليدي، ذلك وأن هذا الموقع يعمل بشكل إلكتروني بحت - وهذا يشمل جلب أحدث وأدق الأخبار والمقالات على مدار اليوم. أيضاً، مقارنة دقة المعلومات والأخبار ومدى صحتها - كل ذلك يحدث بشكل إليكتروني بحت بالإعتماد على استخدام خوارزميات مبرمجة وبنفس الوقت قابل للتحديث بشكل يدوي. 
		موقع أكسجين عربي، هو مشروع عربي ما زال في مراحله الأولى ويحمل أهداف على المدى البعيد من أجل زياده كمية وجودة المحتوى العربي في عالم الأنترنت. 
<br/>
<br/>
		نحن مبرمجون عرب موجودون في مونتريال، كندا نعمل بجد وعزيمة من أجل إيجاد ما هو مفيد وذو مصداقية عالية لمتصفحي الأنترنت من العالم العربي بكافة أطيافه وجنسياته. 
<br/>
<br/> 
		وأخِيرًا وَلَيْسَ آخِرًا، سر نجاحنا سوف يكون بدعمكم لنا.		
	</h3>
</div>