<div>
	<h1>إتصل بنا</h1>
	<p>نفرد القناة بتغطية آنية ومباشرة باللغة العربية لقطاع المال والأعمال في المنطقة والعالم. وتغطي برامجها المبتكرة جميع مكونات الطيف الاقتصادي في المنطقة العربية، بالإضافة إلى تغطية واسعة وتحليل معمق لأسواق المال العربية والعالمية واسواق السلع والعملات وقطاعات النفط والغاز والبناء والعقارات ومواكبة أخبار الشركات الإقليمية والدولية.خصصت CNBC عربية برامج خاصة لسيدات الأعمال، وللمشاريع والاستثمارات الصديقة للبيئة، إضافة إلى فقرات وبرامج تعنى بالأفراد وكيفية إدارة أموالهم ومدخراتهم، عدا عن تغطية آخر التطورات الاقتصادية والمالية التي تؤثر على منطقة الشرق الأوسط والعالم برمته.
	</p>
</div>