<div>
	<h1>إتصل بنا</h1>
	<h3>
		يمكنكم مراسلتنا على oxygen.arabi@gmail.com
		من أجل أستفساراتكم، أسئلتكم، إذا كان لديكم خبر تضنون أنه يستحق مشاركته مع الأخريين، أو حتى إذا أردتم أن نضع في موقعنا من أخباركم ومقالاتكم التي تنشرونها في مواقعكم.
	</h3>
</div>