	<table class="table table-condensed table-hover">
	  <thead>			
	    <tr>
	      <th class="text-center hidden-xs"></th>
				<th class="text-center hidden-xs"><h5><b>العنوان</b></h5></th>
				<th class="text-center hidden-xs"><h5><b>وصف الخبر</b></h5></th>
				<th class="text-center hidden-xs"><h5><b>المصدر</b></h5></th>
				<th class="text-center hidden-xs"></th>
				
	    </tr>
	  </thead>

	  <tbody>	
			<%= render 'body1' %>
			<%= render 'body2' %>
			<%= render 'body3' %>

	  </tbody>
	</table>