<%= content_for :title, 'أكسجين عربي' %>

<%= render 'body' %>
	<br>
	<% if (user_signed_in?) && (current_user.admin?) %>
	  <h3>
		<%= link_to 'بوست جديد', new_post_path %> ||
		<%= link_to 'فئة جديده', new_category_path %>
	  </h3>
	<% end %>
