
<div class="footer">
				<p>
جميع الحقوق محفوظة لموقع أكسجين عربي
	Copyright &copy; 2014 
      </p>
			<%= link_to "من نحن", pages_about_path %> | 
			<%= link_to "أتصل بنا", pages_contact_path %>
</div>
